<div class="home-page">

    <div class="banner">
        <div class="container">
            <h1 class="logo-font">conduit</h1>
            <p>A place to share your knowledge.</p>
        </div>
    </div>

    <div class="container page">
        <div class="row">
            <div class="col-md-9">
                <div class="feed-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="">Your Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="">Global Feed</a>
                        </li>
                    </ul>
                </div>

                <ng-container *ngIf="(data$ | async) as articles; else noData">
                    <!-- <app-article *ngFor="let article of articles" [article]="article"
                    (like)="like($event)"></app-article> -->
                    <app-article *ngFor="let article of articles" [article]="article"></app-article>
                </ng-container>

                <ng-template #noData>No Data</ng-template>
            </div>


            <div class="col-md-3">
                <div class="sidebar">
                    <p>Popular Tags</p>
                    <app-tag class="tag-list" *ngFor="let tag of tags" [tag]="tag"></app-tag>
                </div>
            </div>
            <app-paginator [totalCount]="totalCount$ | async" #paginator>test paginator</app-paginator>
        </div>
    </div>

</div>